In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")

In [3]:
test = pd.read_csv("test.csv")

In [4]:
labels = pd.read_csv("labels.csv")

In [5]:
sub = pd.read_csv("sample_submission.csv")

In [6]:
train.head()

,roadId,totalLaneLines,laneLineId,laneLineCoordinates,totalLinesOnLeft,totalLaneLinesOnRight,distFromLaneLineOnLeft,distFromLaneLineOnRight,laneLineLength,roadLength,noOfIntersectingLaneLinesLeft,noOfIntersectingLaneLinesRight,isIntersectingWithRoadGeometry,roadCategory
0,3177248677,3,X3177248677,11.117636626741222 49.43799310961545|11.11761...,2,0,3.863433276,,4.396337,40.570710,0,0,false,2
1,3177248677,3,13177248677,11.11771009862968 49.43794191822495|11.117697...,0,2,,3.740901458,37.316844,40.570710,0,0,false,2
2,3177248677,3,23177248677,11.117673197144772 49.43796782435575|11.11765...,1,1,3.740901458,3.863433276,40.365319,40.570710,0,0,true,2
3,3177248676,9,X3177248676,11.11742645905593 49.437419830658655|11.11740...,3,5,4.634520764,1.727115052,18.177112,207.655745,0,0,false,2
4,3177248676,9,13177248676,11.117117406584201 49.43662220739599|11.11710...,1,7,5.783676541,1.727115052,95.552747,207.655745,0,0,false,2

In [7]:
test.head()

,roadId,totalLaneLines,laneLineId,laneLineCoordinates,totalLinesOnLeft,totalLaneLinesOnRight,distFromLaneLineOnLeft,distFromLaneLineOnRight,laneLineLength,roadLength,noOfIntersectingLaneLinesLeft,noOfIntersectingLaneLinesRight,isIntersectingWithRoadGeometry,roadCategory
0,291531296,5,X291531296,11.329899604343693 43.72956824243773|11.33004...,2,2,5.655398294,3.49899823,12.054597,12.056004,0,0,false,1
1,291531296,5,1291531296,11.329900151795446 43.729503478051974|11.3300...,4,0,3.685959755,,12.060141,12.056004,0,0,false,1
2,291531296,5,2291531296,11.329899913660833 43.72953696742431|11.33004...,3,1,3.49899823,3.685959755,12.052468,12.056004,0,0,false,1
3,291531296,5,3291531296,11.329899175813209 43.72961906004278|11.33004...,1,3,3.481580911,5.655398294,12.046642,12.056004,0,0,false,1
4,291531296,5,4291531296,11.329899073264464 43.729650480155186|11.3300...,0,4,,3.481580911,12.054345,12.056004,0,0,false,1

In [14]:
labels.head()

       roadId                                    roadCoordinates   noOfLanes
0  6515927525   9.23293 48.99365|9.23295 48.99401|9.23298 48....           4
1   155088079                11.11117 49.43418|11.11175 49.43436           3
2  5943976193                 11.00016 49.46831|10.9994 49.46849           2
3  4646422329                 12.4417 55.62205|12.44144 55.62233           3
4  3059986881   11.10363 49.47368|11.10367 49.47377|11.10374 ...           3